button {
  position: fixed;
  width: 80px;
  height: 80px;
  font-size: 14px;
  z-index: 10;
  border: none;
  background: #444;
  color: white;
  border-radius: 12px;
  outline: none;
  transition: box-shadow 0.2s ease;
  user-select: none;
  touch-action: none;
}

.active {
  box-shadow: 0 0 0 3px lime;
}

.dragging {
  box-shadow: 0 0 0 3px yellow !important;
}